* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-image: url("background1.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -10000;
}
header {
  text-align: center;
  margin: 1rem 1rem;
  font-size: 2.5rem;
  color: white;
}
main {
  margin: 0 auto;
}
.recipe {
  background-color: white;
  width: 600px;
  height: auto;
  margin: 24px auto;
}
.recipe-card .recipe-title {
  color: rgb(94, 2, 2);
  font-size: 2rem;
}
.recipe-card h3 {
  text-align: center;
  font-weight: bold;
  color: blue;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.recipe-image img {
  width: 100%;
  height: 400px;
}
.recipe-details {
  background-color: black;
  color: white;
  margin-top: 1rem;
  text-align: center;
}
.recipe-details h4 {
  font-size: 2.5rem;
  margin: 1rem;
  font-weight: bold;
  text-decoration: underline;
  color: rgb(212, 171, 113);
}
.recipe-details h4:hover {
  color: yellowgreen;
  transform: scale(1.5, 1.2);
  margin-top: 1rem;
}
.recipe_meta span {
  display: inline-block;
  margin-bottom: 0.5rem;
  border: 2px solid rgb(212, 255, 0);
  padding: 1rem;
  margin-inline: 0.4rem;
}
.ingredients {
  margin-top: 1.4rem;
  border: 2px solid #333;
  display: inline-block;
  padding: 1rem;
}
.ingredients h2 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #1e90ff; /* fallback color */
}

@supports ((-webkit-background-clip: text) or (background-clip: text)) {
  .ingredients h2 {
    background-image: linear-gradient(
      90deg,
      #ff7a18,
      #af002d 30%,
      #319197 60%,
      #38ef7d
    );
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
}
.ingredients ul {
  list-style-type: none;
  border: 1px solid whitesmoke;
  padding: 0.4rem;
}
.ingredients li {
  margin-bottom: 0.4rem;
}
.ingredients:hover {
  box-shadow: 10px 10px 15px white;
  transform: translateY(-4px);
  transition: box-shadow 1s ease, tranform 0.5s linear;
}
.instructions {
  display: inline-block;
  background-color: rgb(139, 127, 127);
  color: #333;
  margin-left: 1rem;
  padding: 1rem;
}
.instructions ol {
  list-style-type: none;
}
.instructions li {
  margin-bottom: 0.4rem;
}
.instructions:hover {
  box-shadow: 10px 10px 15px #38ef7d;
  transform: translateY(-5px);
  transition: box-shadow 1.5s ease;
}
.tips {
  display: inline-block;
}
.tips li {
  display: inline-block;
  margin: 1.3rem 1.5rem;
  border: 2px solid rgb(5, 207, 184);
  padding: 1rem;
  color: white;
  background-color: rgb(175, 21, 172);
}
.tips li:hover {
  box-shadow: 10px 10px 15px rgb(16, 83, 83);
  transform: translateY(-10px);
  background-color: #333;
  transition: box-shadow 1s ease-in, transform 1s linear;
}
